<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Main Navigation -->
        <nav class="navbar navbar-dark mb-5" style="background-color: transparent;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-record-vinyl"></i>
                    Mixed Vinyl
                </a>
                <div>
                    <a href="#" class="me-3" style="color: #fff; text-decoration: none;">
                        All Mixes
                    </a>
                    <a href="#" style="color: #fff;">
                        <i class="fas fa-user-astronaut p-2" style="border: solid 1px #fff; border-radius: 50px; font-size: 40px;"></i>
                    </a>
                </div>
            </div>
        </nav>
        <!-- End Main Navigation -->
        
        {% block body %}{% endblock %}
        
        <!-- Footer -->
        <div class="container mt-5">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="me-1" style="color: red;"><i class="fas fa-heart"></i></span>
                <span class="text-muted me-1">The guys and gals at</span>
              <a target="_blank" href="https://symfonycasts.com/" style="color: #25a1dd" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
                 SymfonyCasts
              </a>
              
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3"><a class="text-muted" target="_blank" href="https://github.com/SymfonyCasts/symfony6"><i class="fab fa-github"></i></a></li>
            </ul>
          </footer>
        </div>
        <!-- End Footer -->
        
    </body>
</html>
