{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="d-inline me-3">Browse Records</h1>
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            TODO
        </div>
        <div class="col-12 col-md-8 ps-5">
            TODO. But, here is the structure:

            Genres (horizontal nav)
            <ul>
                <li style="display: inline">
                    <a href="#">Emo</a>
                </li>
                <li style="display: inline">
                    <a href="#">Rock</a>
                </li>
                <li style="display: inline">
                    <a href="#">Death metal</a>
                </li>
            </ul>

            <div>
                Records (list of records, probably each is a vertical box, not just a silly list like this):
                <ul>
                    <li>
                        <a href="#">
                            Name: PB & James
                            Songs: 14
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Name: Put a Hex on your Ex
                            Songs: 9
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
